.MovieDetails-container {
  // background: $off-white;
}

.MovieDetails-backdrop {
  background-size: cover;
}

.backdrop-cover {
  background: rgba($theme, .95);
  height: 590px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.MovieDetails {
  background: transparent;
  color: $off-white;
  display: flex;
  text-align: left;
  width: 70vw;
  height: 60vh;

  .card-img {
    height: 500px;
    object-fit: cover;
  }

  .card-info {
    margin: 20px;
    padding: 20px;
    position: relative;
    width: 80vw;

    .card-header {
      display: flex;
      align-items: center;

      .rating-circle {
        border-radius: 50%;
        width: 70px;
        height: 70px;
      }
    
      .circle-bg {
        fill: none;
        stroke: #999;
        stroke-width: 4px;
      }

      .circle {
        fill: none;
        stroke: $accent;
        stroke-width: 4px;
        stroke-linecap: round;
        animation: progress 1s ease-out forwards;
      }

      .rating-num {
        font-size: .8em;
      }

      .card-title-wrap {
        display: flex;

        .card-title {
          font-size: 3em;
          margin: 0 20px;
        }

        .card-year {
          font-size: 1.5em;
          position: relative;
          top: 18px;
        }
      }
    }

    .card-overview {
      overflow: auto;
      margin: 30px 0;
      font-size: 1.3em;
    }

    h3 {
      font-size: 1.5em;
    }

    .crew-info {
      display: flex;
      flex-wrap: wrap;

      .crew-member {
        font-size: 1.1em;
        margin: 25px 25px 0 0;
      }
    }
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}