body {
  background: #081C24;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro","Roboto", sans-serif, -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    margin: 0;
    padding: 0;
  }

  a:hover,
  button:hover {
    cursor: pointer;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
}

@import './node_modules/normalize-scss/sass/normalize';
@import './variables.scss';
@import './mixins.scss';
@import '../containers/App/App.scss';
@import '../components/Header/Header';
@import '../containers/MovieContainer/MovieContainer';
@import '../components/MovieCard/MovieCard';
@import '../components/Header/Header';
@import '../containers/Nav/Nav';
@import '../containers/LoginForm/LoginForm';
@import '../containers/SearchBar/SearchBar';
@import '../containers/SignUpForm/SignUpForm';
@import '../components/MovieDetails/MovieDetails.scss';
@import '../components/Footer/Footer';
@import '../components/CastContainer/CastContainer';
@import '../components/CastCard/CastCard';
@import '../components/LoginPopup/LoginPopup';

