.Nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;

  .nav-left {
    display: flex;
    flex-direction: row;

    .header-logo {
      margin: 0 15px 0 0;
    }
  }

  .nav-right {
    display: flex;

    .login-link {
      margin: 0;
      padding: 0 15px;
    }
  }

  .nav-link {
    padding: 0 15px;
  }

  .login-dropdown {
    background: #999;
    position: absolute;
    top: 70px;
    right: 30px;
    z-index: 1;
  }
}