.MovieContainer {
  max-width: 1200px;
  margin: 0 auto;
  // padding: 50px 125px;

  .movie-container-header {
    color: white;
    text-align: left;
    margin: 40px 0 10px 25px;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}