.more-details-bottom {
  padding: 0 225px;

  h2 {
    color: white;
    font-size: 1.8em;
    text-align: left;
    margin: 40px 0 20px 0;
  }

  .flex-wrapper {
    display: flex;
    justify-content: center;
  }

  .CastContainer {
    display: flex;
    flex-wrap: nowrap;
    height: 325px;
    margin: 0 0 80px 0;
    overflow-x: auto;
  }
}