.LoginForm {
  @include flex-column;
  @include form-layout;
}

.error-message {
  color: red;
  font-weight: bold;
}

.signup-link {
  font-style: italic;
  font-weight: 400;
  text-decoration: underline;
}

.signup-link:hover {
  color: $accent;
}