.LoginForm {
  display: flex;
  flex-direction: column;

  label {
    text-align: left;
    margin: 5px 0;
  }

  input {
    background: white;
    font-size: 1em;
    margin: 0 0 10px 0;
    padding: 10px;
  }

  button {
    background: black;
    border: none;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    padding: 10px;
  }

  .error-message{
    color: red;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}