.Nav {
  display: flex;
  justify-content: space-between;

  .main-nav-wrapper {

  }

  .nav-link {
    // width: 200px;
  }
  
  .account-wrapper {
    margin: 0;

    .login-link {
      display: inline-block;
      margin: 0;
    }
  }
}