.SearchBar {
  background: rgba(white, .1);
  border: rgba(white, .1) solid 3px;
  direction: rtl;
  display: flex;
  padding: 0 125px;

  .fa-times,
  .fa-search {
    color: rgba(white, .2);
    font-size: 1.2em;
    position: relative;
    top: 12px;
  }

  .search-input {
    background: transparent;
    border: none;
    color: white;
    direction: ltr;
    font-size: 1.1em;
    font-weight: 600;
    margin: 0 0 0 10px;
    padding: 12px 0;
    width: 100%;

    &::placeholder {
      color: rgba(white, .3);
      font-style: italic;
      font-weight: 400;
    }

    &:focus {
      outline: none;
    }

    &:hover + .search-icon > *,
    &:focus + .search-icon > * {
      color: white;
    }
  }

  .clear-search > * {
    width: 20px;

    &:hover {
      cursor: pointer;
      color: white;
    }
  }
}
